@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

// @import url('//cdn.muicss.com/mui-0.9.27/css/mui.min.css')
.bg
 position fixed
 top 50px
 right 0
 bottom 0
 left 0
 z-index -10
 background-image url('./circle-mess.svg')
 background-size cover

// background-repeat no-repeat
::-webkit-scrollbar
 display none
